@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand:400,500,700');

$family-primary: BlinkMacSystemFont, -apple-system, "Lato", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default$navbar-item-img-max-height: 3.5rem;
$navbar-item-hover-color: #85b93f;
$primary: #85b93f;
$title-size: 2.25rem;
$box-radius: 0;

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/media.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";

.box {
  margin-top: 1.5rem;
}

.media-left {
  align-self: center;
  font-size: 2rem;
}

.content figure {
  margin: 0.5rem;
}

.token.title {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.listingblock {
  padding-bottom: 0.5rem;
  .listing-title {
    font-style: italic;
  }
}
/*
.listingblock {
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  .listing-title {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

pre[class*="language-"] {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
*/

